[submodule "olcPixelGameEngine"]
	path = olcPixelGameEngine
	url = https://github.com/OneLoneCoder/olcPixelGameEngine.git
[submodule "json"]
	path = json
	url = https://github.com/nlohmann/json.git
[submodule "FreeType2"]
	path = FreeType2
	url = https://github.com/egorodet/FreeType2.git
